@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-darkBg text-gray-50;
	}
	@font-face {
		font-family: Comfortaa;
		font-weight: 400;
	}
}

/* Apply basic global styles to the body: */
body {
	@apply antialiased text-gray-100 bg-darkBg font-Comfortaa;
}

/* Remove trailing margin from forms for some browsers: */
form {
	margin-block-end: 0;
}

input:-webkit-autofill {
	-webkit-text-fill-color: theme('colors.gray.800') !important;
}
